<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<!-- 
   <display-name>justeat</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list> --> 
  
   <servlet>
  	<servlet-name>DammiRistoranti</servlet-name>
  	<!--nome del pacchetto che contiene la servlet-->
  	<servlet-class>it.unical.ingsw.justeat.db.servlet.CercaRistorante</servlet-class>
  </servlet>
  <servlet-mapping>
  	<!--nome della classe che estende httpservlet-->
  	<servlet-name>CercaRistorante</servlet-name>
  	<!-- NOME href dove clicco e ottengo l'elenco dei ristoranti -->
  	<url-pattern>/ottieniRistoranti</url-pattern>
  </servlet-mapping>
  
 
  
  
</web-app> 