<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

 <!--   <display-name>justeat-ingsw-siw-demo-war</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>  
  -->
  
    <servlet>
  	<servlet-name>InserisciPietanza</servlet-name>
  	<servlet-class>it.unical.ingsw.justeat.db.servlet.MettiPietanza</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InserisciPietanza</servlet-name>
  	<url-pattern>/aggiungiPietanza</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Credenziali</servlet-name>
  	<servlet-class>it.unical.ingsw.justeat.db.servlet.CredenzialiLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Credenziali</servlet-name>
  	<url-pattern>/inviaCredenziali</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FaiLogin</servlet-name>
  	<servlet-class>it.unical.ingsw.justeat.db.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FaiLogin</servlet-name>
  	<url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>it.unical.ingsw.justeat.db.servlet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/ciao</url-pattern>
  </servlet-mapping>
  <servlet>
 <servlet-name>ioSono</servlet-name>
    <servlet-class>it.unical.ingsw.justeat.db.servlet.cosaSono</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ioSono</servlet-name>
    <url-pattern>/what</url-pattern>
  </servlet-mapping>
  
  
  
</web-app> 